/*@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');*/

@font-face {
  font-family: 'babelgam';
  src: url('../assets/Babelgam.ttf') format('truetype');
}

@font-face {
    font-family: 'fuenteKLK';
    src: url('../assets/images/KLK.otf') format('opentype');
}

h1 {
  text-align: center;
  font-family: 'babelgam';
}